
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://img.freepik.com/premium-vector/pharmacy-logo-vector_23987-171.jpg"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

          <h1>User Login</h1>

          <form (ngSubmit)="userLogin()">

            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">User ID</label>
            <input type="email"  [(ngModel)]="user.userId" id="userId" name="userId"  class="form-control form-control-lg"
                placeholder="Enter a valid User ID" />
              
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Password</label>
              <input type="password" [(ngModel)]="user.password" id="password" name="password" class="form-control form-control-lg"
                placeholder="Enter password"  />
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                
               <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="register-user"
                  class="link-danger">Register</a></p> -->
                  <!-- <button type="button" type="submit"> Submit</button> -->
            </div>
  
          </form>
          <a routerLink="Registration"> New user? Register yourself</a>
        </div>
      </div>
    </div>
  </section>

 
