<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form (ngSubmit)="userRegister()">

                <!-- <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg"> First name</label>
                  <input type="text" id="name" name="name" [(ngModel)]="ruser.firstname" class="form-control form-control-lg"  />
                </div> -->
                <div class="form-outline mb-4">

                  <label class="form-label" for="form3Example1cg"> First name</label>

                  <input type="text" id="name" name="name" [(ngModel)]="ruser.firstname" #username="ngModel" required

                  [class.is-invalid]="username.invalid && username.touched" class="form-control form-control-lg" />

                  <small class="text-danger"  [class.d-none]="username.valid || username.untouched">FirstName is  required</small>

                </div>

                <!-- <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg"> Last name</label>
                    <input type="text" id="name" name="name"  [(ngModel)]="ruser.lastname" class="form-control form-control-lg" />
                  </div> -->

                  <div class="form-outline mb-4">

                    <label class="form-label" for="form3Example1cg"> Last name</label>

                    <input type="text" id="lastname" name="lastname" [(ngModel)]="ruser.lastname" #lastname="ngModel" required

                    [class.is-invalid]="lastname.invalid && lastname.touched" class="form-control form-control-lg" />

                    <small class="text-danger" [class.d-none]="lastname.valid || lastname.untouched">LastName is  required</small>

                  </div>

                  <!-- <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">user Id</label>
                    <input type="email" id="name" name="name"  [(ngModel)]="ruser.userId" class="form-control form-control-lg" />
                  </div> -->

                  <div class="form-outline mb-4">

                    <label class="form-label" for="form3Example3cg">user Id</label>

                    <input type="email" id="userId" name="userId"  [(ngModel)]="ruser.userId"  #userId="ngModel" required

                    [class.is-invalid]="userId.invalid && userId.touched" class="form-control form-control-lg" />

                    <small class="text-danger" [class.d-none]="userId.valid || userId.untouched">userId is  required</small>

                  </div>

                <!-- <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" id="email" name="email" [(ngModel)]="ruser.youremail" class="form-control form-control-lg" />
                </div> -->

                <div class="form-outline mb-4">

                  <label class="form-label" for="form3Example3cg">Your Email</label>

                <input type="email" id="email" name="email" [(ngModel)]="ruser.youremail"  required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel" [class.is.invalid]="email.invalid && email.touched" class="form-control form-control-lg" />

                <small class="text-danger " [class.d-none]="email.valid || email.untouched">Email Id is required Field/Invalid Entry</small>

              </div>

                <!-- <div class="form-outline mb-4">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <input type="phoneNumber" id="phonenumber" name="phonenumber" [(ngModel)]="ruser.phonenumber" class="form-control form-control-lg" />
                  </div> -->

                  <div class="form-outline mb-4">

                    <label class="form-label" for="phoneNumber">Phone Number</label>

                    <input type="phoneNumber" id="phonenumber" name="phonenumber"[(ngModel)]="ruser.phonenumber" required pattern="\d{10}" #phonenumber="ngModel" [class.is.invalid]="phonenumber.invalid && phonenumber.touched" class="form-control form-control-lg">

                    <small class="text-danger " [class.d-none]="phonenumber.valid || phonenumber.untouched">Mobile Number is Invalid/Invalid Entry</small>

                  </div>

                <!-- <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" id="password" name="password"  [(ngModel)]="ruser.password" class="form-control form-control-lg" />
                </div> -->

                <div class="form-outline mb-4">

                  <label class="form-label" for="form3Example4cg">Password</label>

                <input type="password" id="password" name="password"  [(ngModel)]="ruser.password" required #password="ngModel" [class.is.invalid]="password.invalid && password.touched" class="form-control form-control-lg" />

                <small class="text-danger " [class.d-none]="password.valid || password.untouched">Password is required Field</small>

              </div>

                <!-- <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                  <input type="cpassword" id="cpassword" name="cpassword" [(ngModel)]="ruser.cpassword" class="form-control form-control-lg" />
                </div> -->

                <div class="form-outline mb-4">

                  <label class="form-label" for="form3Example4cg">Repeat your password</label>

                <input type="cpassword" id="cpassword" name="cpassword"  [(ngModel)]="ruser.cpassword" required #password="ngModel" [class.is.invalid]="password.invalid && password.touched" class="form-control form-control-lg" />

                <small class="text-danger " [class.d-none]="password.valid || password.untouched">Password is required Field</small>

              </div>

                <div class="col-md-6 mb-4">

                    <h6 class="mb-2 pb-1">Gender: </h6>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="female"
                        value="female" [(ngModel)]="ruser.gender"/>
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="male"
                        value="male" [(ngModel)]="ruser.gender"/>
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                  </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-primary">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>